@import "../common/styles/sass/variables";

.header {
     height: 80px;
     background-color: $thirdColor;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 0 0 50px;
     position: fixed;
     left: 50px;
     right: 50px;
     top: 40px;
     border-radius: 50px;
     z-index: 2;
     @media screen and (max-width: 500px) {
          height: 50px;
          left: auto;
          right: 0;
          top: 0;
          width: 100%;
          border-radius: 0;
     }
 }
:export {
     textColor: $textColor;
     mainColor: $mainColor;
     secondColor: $secondColor;
     thirdColor: $thirdColor;
     activeColor: $activeColor;
}