.contactsBlock {
    height: 100vh;
    background-color: var(--secondColor);
}

.contactsContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.form {
    border: 1px solid white;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--mainColor);
}
@media screen and (max-width: 768px){
    .form{
        width: 100%;
    }
}