.skillsBlock {
    height: 100vh;
    background-color: var(--secondColor);
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.skills {
    border: 1px solid #fdfdfd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}