.main {
    height: 100vh;
    background-color: var(--mainColor);
}
.creatings {
    width: 250px;
    background-color: var(--secondColor);
    color: white;
}

.photo {
    width: 280px;
    height: 400px;
    background-color: white;
}
@media screen and (max-width: 768px){
    .mainContainer{
        flex-direction: column;
    }
}