$mainColor: var(--mainColor);
$secondColor: var(--secondColor);
$thirdColor: var(--thirdColor);
$activeColor: var(--activeColor);
$textColor:var(--textColor);
$textColorDark: #000000;
$thirdColorDark: #a4c3b2;
$mainColorDark: #cce3de;
$secondColorDark: #eaf4f4;