@import "../common/styles/sass/variables";

.projectsBlock {
  min-height: 100vh;
  background-color: $mainColor;

  .projectsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: $textColor;

    .projects {
      border: 1px solid white;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }
}


