.projectsBlock {
    height: 100vh;
    background-color: var(--mainColor);
}

.projectsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.projects {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    .projects{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

}